<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.itcode.gplx">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activity.FlashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.RandomExamActivity" />
        <activity android:name=".Activity.ExamForGroupActivity" />
        <activity android:name=".Activity.LearnTheoryActivity" />
        <activity android:name=".Activity.LearnPracticeActivity" />
        <activity android:name=".Activity.ExamTipsActivity" />
        <activity android:name=".Activity.SaveQuestionActivity" />
        <activity android:name=".Activity.ExamResultActivity" />
        <activity android:name=".Slide.ScreenSlideForExamActivity" />
        <activity android:name=".Fragment.WordTipsFragment" />
        <activity android:name=".Fragment.ExcelTipsFragment" />
        <activity android:name=".Fragment.PowerPointTipsFragment"></activity>
    </application>

</manifest>